 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resource Info</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<!--     <link rel="stylesheet" href="/styles/info_page_styling.css" type="text/css" />
 -->


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/comments_container.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>



  </head>

  <body>


    <h1 id="resource-title"> <%= resource.title %></h1>

    <div>
      <img id="resource-media" type="media" src="<%= resource.thumbnail %>"/>
      <section class="description-box">

        <h2>Description</h2>
          <article id="description"><%= resource.description %>
          </article>
      </section>


    <form method="POST" action="/rating">
    <div class="rating" data-rating="0">
        <span data-value="5">☆</span>
        <span data-value="4">☆</span>
        <span data-value="3">☆</span>
        <span data-value="2">☆</span>
        <span data-value="1">☆</span>
    </div>
    </form>

  <form method="POST" action="/likes">
    <span>
      <%=likes %>
    <button class="Like">
                <text>Like</text>
    </button>
    </span>
  </form>
    <div id="date-div">
      <span id="date"><%=resource.date_created  %></span>
    </div>
    </div>

    <div class="comment">

     <input type="text" name="comment" />


  <div class="comment">
    <form id ="new-post" method="POST" action="/resource/<%= resource_id %>/comments">
      <input type="text" name="comment" />

      <button class="commentButton" type="submit">Add a Comment</button>
    </form>
  </div>

  <div class="resource-comments">
    <h2>Comments</h2>
    <ol class="existing-comments" type="text"></ol>
  </div>

    </div>

     <button class="commentButton" type="submit">Add a Comment</button>
   </form>
 </div>

 <div class="resource-comments">
   <h2>Comments</h2>
   <ol class="existing-comments" type="text">
    <% comments.forEach(function(item, index){ %>
    <li><%= item.comment %></li>
  <%}) %>

   </ol>
 </div>


  </body>
</html>
